* {
    margin: 0;
    padding: 0;
    box-sizing:content-box;
    align-items: flex-start;
}

.container {
    margin: 40px auto;
    max-width: 640px;
    width: 100%;
}

.container header {
    display:block; 
    align-items:center; 
    justify-content:space-between;
    font-size: large;
}

header h1 {
    font-family: 'Bungee Spice', sans-serif;
    font-size:50px;
}

header h2 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 25px;
}

header h3 {
    margin-top: 16px;
    padding: 6px;
    text-decoration: none;
    font-family:'Rajdhani', sans-serif;
    font-size: 15px;
}

input, textarea, button {
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 50%;
    resize: none;
}

button {
    background-color: #ec610b;
    border: none;
    text-transform: uppercase;
    color: #090000;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    cursor: pointer;
}

form button:hover {
    background-color: 
    #f7bc97;
}

.success-message {
    background-color: #fe9f3b;
    padding: 16px;
    color-scheme: #050101;
    display: none;
}

.error-message {
    padding: 8px;
    background-color: red;
    color: #fff;
    margin-bottom: 8px;
    font-size: 12px;
    display: none;
}

input.error {
    color: red;
    border-color: red;
    outline-color: red;
}